body{
    background-color: #1d3f58;
}
header{
    background-color: whitesmoke;
    text-align: center;
}
.form{
   
    background-color: #b3cde4;
    width: 400px;
    height: 750px; 
    margin: 0px 550px 0px 550px;
    border: 3px solid black;
}
a{
    text-decoration: none;
}